*{
    margin: 0;
    padding: 0;
}
#tag{
    width: 180px;
    height: 50px;
    position: relative;
    left: 80px;
    top: 5px;
}
#nav{
    display: flex;
    background-color: #fff;
    width: 1200px;
}
#flex{
    position: relative;
    left: 450px;
    top: 10px;
    /* justify-content: right; */
    display: grid;
    grid-template-columns: repeat(5, 120px);
    font-size:x-small;
}
#centralleft{
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 900;
    position: relative;
    top: 100px;
    left: 50px;
    line-height: 220%;
}
#one{
    color: orange;
}
#three{
    color: orange;
    position: relative;
    top: 20px;
    font-weight: 300;
}
#central{
    display: flex;
}
#know{
    width: 130px;
    height: 40px;
    color: #fff;
    background-color: rgba(0, 102, 255, 0.986);
    border-radius: 5px;
    border: none;
    position: relative;
    top: 50px;
}
#sideimage{
    width: 500px;
    height: 400px;
    position: relative;
    left: 350px;
}
#flex1{
    position: relative;
    top: 40px;
    left: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    height: 40px;
}
#in{
    display: flex;
    position: relative;
    left: 850px;
    top: 5px;
    width: 200px;
    
}
#login{
    background-color: white;
    color: palevioletred;
    border: 2px solid palevioletred;
    border-radius: 5px;
    width: 65px;
    height: 15px;
    text-align: center;
    font-size:x-small;
    padding-top: 2px;

}
#sign{
    background-color: palevioletred;
    color: white;
    border: 2px solid palevioletred;
    border-radius: 5px;
    width: 65px;
    height: 15px;
    text-align: center;
    font-size:x-small;
    padding-top: 2px;
    margin-left: 20px;

}
.study {
    background-color: #fff;
    border:0;
    width: 90px;
    font-size:x-small;
}
.study1 {
    background-color: #fff;
    border:0;
    width: 120px;
    font-size:x-small;
}
.course{
        background-color: #fff;
        border:0;
        width: 110px;
        margin-left: 20px;
}
.course1{
        background-color: #fff;
        border:0;
        width: 150px;
}
.course2{
        background-color: #fff;
        border:0;
        width: 130px;
}